[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pandas = "*"
tensorflow = "*"
keras = "*"
pillow = "*"
mask-rcnn = {git = "https://github.com/matterport/Mask_RCNN.git"}

[dev-packages]

[requires]
python_version = "3.9"
